h1 {

    /* Centralizando tags h1  */
    text-align: center;
    font-family: sans-serif;

}

body {

    /*  Colocando cor de fundo do body (cor da pg)  */
    background-color: rgb(83, 200, 230);

}




p {

    /* Alterando a cor do texto */
    color: blue;
    
}


img {

    /* Ajustando o tamanho da imagem */
    width: 300px;

    height: 200px;

}

h2 {
    font-size: 20px;

    background-color: yellow;
}


h3 {

    /* Alinhando texto a direita, ajustando seu tamanho,
     colocando a cor do texto e a cor do fundo do texto */

    text-align: right;

    font-size: 18px;

    color: rgb(49, 218, 11);

    background-color: black;
}

.p-vermelho {
      color: red;
}

.p-amarelo {
    color: yellow;
}

.p-verde {
    color: green;
}

#p-vermelho {
    color: red;
}


/* Trocando fonte do texto */

.font-courier-new {
    font-family: 'Courier New', Courier, monospace;
    color: black;
}

.sombra {
    color: rgb(30, 255, 0);
    text-shadow: 2px 2px 1px #000;
}

.sombra2 {
    color: white;
    text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
}


.opacidade {
    background-color: green;
    opacity: 0.3;
}

.opacidade-rgba {
    background-color: rgba(0, 128, 0, 0.3);
}

.fundo-imagem {
    height: 500px;
    background-image: url(gif.gif);
    /*Comando para não repetir a imagem*/
    background-repeat: no-repeat;
    
}

.fundo-imagem2 {
    height: 400px;
    width: 500px;
    background-image: url(nes.png);
    background-repeat: no-repeat;
    /*Comando para cobrir a imagem*/
    background-size: cover;
}

.fundo-tela-dinamico {
    height: 500px;
    width: 600px;
    background :url(https://source.unsplash.com/1920x2400?hdr,sunset,ocean);
    background-size: cover;
    
    }

.borda-solid {
    border-style: solid;
}

.borda-dashed {
    border-style: dashed;
}

.borda-dotted {
    border-style: dotted;
}

.borda-double {
    border-style: double;
}

.div1 {
    border: 1px solid black;
}

.div2 {
    border: 1px solid black;
    background-color: rgba(255, 0, 0, 0.57);
    text-align: right;
}

.div-margin {
    background-color: darkblue;
    color: white;
    margin: 10px; /* Define o espaçamento externo do elemento */
}

.div-centralizada {
    background-color: darkmagenta;
    width: 300px;
    height: 350px;
    margin: 0 auto;
}

.div-padding {
    background-color: green;
    padding: 20px; /* Define o espaçamento interno do elemento */
}

.div-everything {
    background-color: blue;
    padding: 40px;
    margin: 20px;
    border: 20px solid black;
}


.botao {
    background-color: magenta;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    border: 2px solid darkmagenta;
    color: white;
    margin-right: 10px;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
}

.botao:hover {
    background-color: rgba(255, 0, 255, 0.512);
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    border: 2px solid rgba(139, 0, 139, 0.375);
    transition-duration: 0.5s;
    
}

/* display:flex */